<!DOCTYPE html>
<head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
  <script src="https://www.w3schools.com/lib/w3.js"></script>
</head>
<body class="w3-opacity w3-light-blue">
<h1>{{title}}</h1>
<button class="w3-btn w3-ripple w3-orange" onclick="w3.toggleShow('#Welcome')">Click Here to Toggle</button>
<div><p id="Welcome">Welcome to {{title}}</p></div>
</body>